<!doctype html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>V- MODEL 1</title>
</head>
<body>
<div id="app">
    <h1>{{titulo}}</h1>
    <input type="text" v-model="nuevaFruta" @keyup.enter="agregarFruta">
    <button v-on:click="agregarFruta">Agregar Fruta</button>
    <ul>
        <!-- Bucle for-->
        <li v-for="fruta of frutas">{{fruta.nombre}} 
            <input type="number" v-model.number="fruta.cantidad">
            <span v-if="fruta.cantidad === 0">NO HAY</span>
            <button @click="fruta.cantidad++">+</button>
        </li>

    </ul>
    <h4>TOTAL: {{sumarFrutas}}</h4>
</div>
</body>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="js/main.js"></script>
</html>